<div class="container">
  <!-- Barra de Busca -->
  <mat-form-field class="search-bar" appearance="outline">
    <mat-label>Buscar Empresa</mat-label>
    <input
      matInput
      [(ngModel)]="searchQuery"
      placeholder="Digite o nome ou CNPJ"
    />
    <button mat-icon-button matSuffix color="primary" (click)="buscar()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <!-- Botões -->
  <div class="button-group">
    <button mat-raised-button color="warn" (click)="deletar()">Deletar</button>
    <button mat-raised-button color="primary" (click)="cadastrarEmpresa()">
      Cadastrar Nova Empresa
    </button>
    <button mat-raised-button color="primary" (click)="cadastrarFornecedor()">
      Cadastrar Fornecedor
    </button>
    <button mat-raised-button color="primary" (click)="listarFornecedores()">
      Listar Fornecedores
    </button>
    <button mat-raised-button color="primary" (click)="listarEmpresas()">
      Listar Empresas
    </button>
  </div>

  <!-- Formulário -->
  <div class="form-container" *ngIf="showForm">
    <h2>
      {{
        isEditMode
          ? "Editar Empresa/Fornecedor"
          : "Cadastrar Empresa/Fornecedor"
      }}
    </h2>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>CNPJ</mat-label>
        <input
          matInput
          [(ngModel)]="formData.cnpj"
          name="cnpj"
          placeholder="CNPJ"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input
          matInput
          [(ngModel)]="formData.nome"
          name="nome"
          placeholder="Nome"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CEP</mat-label>
        <input
          matInput
          [(ngModel)]="formData.cep"
          name="cep"
          placeholder="CEP"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="salvar()">
        Salvar
      </button>
    </form>
  </div>
</div>

<div *ngIf="empresas.length > 0" class="table-container">
  <mat-table [dataSource]="empresas">
    <!-- CNPJ Column -->
    <ng-container matColumnDef="cnpj">
      <mat-header-cell *matHeaderCellDef>CNPJ</mat-header-cell>
      <mat-cell *matCellDef="let empresa">{{ empresa.cnpj }}</mat-cell>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
      <mat-cell *matCellDef="let empresa">{{ empresa.nome }}</mat-cell>
    </ng-container>

    <!-- CEP Column -->
    <ng-container matColumnDef="cep">
      <mat-header-cell *matHeaderCellDef>CEP</mat-header-cell>
      <mat-cell *matCellDef="let empresa">{{ empresa.cep }}</mat-cell>
    </ng-container>

    <!-- Header and Row -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
