<div class="container">
  <!-- Barra de Busca -->
  <mat-form-field class="search-bar" appearance="outline">
    <mat-label>Buscar Fornecedor</mat-label>
    <input
      matInput
      [(ngModel)]="searchQuery"
      placeholder="Digite o nome ou CNPJ"
    />
    <button mat-icon-button matSuffix color="primary" (click)="buscar()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <!-- Botões -->
  <div class="button-group">
    <button mat-raised-button color="warn" (click)="deletar()">Deletar</button>
    <button mat-raised-button color="primary" (click)="cadastrarFornecedor()">
      Cadastrar Fornecedor
    </button>
    <button mat-raised-button color="primary" (click)="editarFornecedor()">
      Editar Fornecedor
    </button>
    <button mat-raised-button color="primary" (click)="listarFornecedores()">
      Listar Fornecedores
    </button>
    <button mat-raised-button color="primary" (click)="listarEmpresas()">
      Listar Empresas
    </button>
  </div>

  <!-- Busca Fornecedor por CNPJ para editar-->
  <div class="cnpj-input" *ngIf="showCnpjInput">
    <h2>{{ isDeleting ? "Deletar Fornecedor" : "Editar Fornecedor" }}</h2>
    <mat-form-field appearance="fill">
      <mat-label>CNPJ</mat-label>
      <input
        matInput
        [(ngModel)]="editCnpj"
        name="editCnpj"
        maxlength="14"
        pattern="[0-9]{14}"
        required
        #cnpj="ngModel"
      />
      <div *ngIf="cnpj.invalid && cnpj.touched" class="error-message">
        <small *ngIf="cnpj.errors?.['required']">CNPJ é obrigatório.</small>
        <small *ngIf="cnpj.errors?.['pattern']"
          >CNPJ deve conter 14 números.</small
        >
      </div>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="
        isDeleting ? deletarFornecedorPorCnpj() : buscarFornecedorPorCnpj()
      "
    >
      {{ isDeleting ? "Deletar" : "Buscar" }}
    </button>
  </div>

  <!-- Formulário -->
  <div class="form-container" *ngIf="showForm">
    <h2>
      {{ isEditMode ? "Editar Fornecedor" : "Cadastrar Fornecedor" }}
    </h2>
    <form #fornecedorForm="ngForm">
      <!-- Tipo -->
      <mat-label>Tipo</mat-label>
      <div>
        <mat-radio-group [(ngModel)]="formData.tipo" name="tipo" required>
          <mat-radio-button value="CPF">CPF</mat-radio-button>
          <mat-radio-button value="CNPJ">CNPJ</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="!formData.tipo" class="error-message">
        <small>Por favor, selecione o tipo.</small>
      </div>

      <!-- Identificador -->
      <mat-form-field appearance="fill">
        <mat-label>{{ formData.tipo === "CPF" ? "CPF" : "CNPJ" }}</mat-label>
        <input
          matInput
          [(ngModel)]="formData.identificador"
          name="identificador"
          [maxlength]="formData.tipo === 'CPF' ? 11 : 14"
          [pattern]="formData.tipo === 'CPF' ? '[0-9]{11}' : '[0-9]{14}'"
          required
          #identificador="ngModel"
        />
        <div
          *ngIf="identificador.invalid && identificador.touched"
          class="error-message"
        >
          <small *ngIf="identificador.errors?.['required']">
            {{
              formData.tipo === "CPF"
                ? "CPF é obrigatório."
                : "CNPJ é obrigatório."
            }}
          </small>
          <small *ngIf="identificador.errors?.['pattern']">
            {{
              formData.tipo === "CPF"
                ? "CPF deve conter 11 números."
                : "CNPJ deve conter 14 números."
            }}
          </small>
        </div>
      </mat-form-field>

      <!-- Nome -->
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input
          matInput
          [(ngModel)]="formData.nome"
          name="nome"
          required
          #nome="ngModel"
        />
        <div *ngIf="nome.invalid && nome.touched" class="error-message">
          <small *ngIf="nome.errors?.['required']">Nome é obrigatório.</small>
        </div>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          [(ngModel)]="formData.email"
          name="email"
          type="email"
          required
          #email="ngModel"
        />
        <div *ngIf="email.invalid && email.touched" class="error-message">
          <small *ngIf="email.errors?.['required']"
            >E-mail é obrigatório.</small
          >
          <small *ngIf="email.errors?.['email']"
            >Insira um e-mail válido.</small
          >
        </div>
      </mat-form-field>

      <!-- CEP -->
      <mat-form-field appearance="fill">
        <mat-label>CEP</mat-label>
        <input
          matInput
          [(ngModel)]="formData.cep"
          name="cep"
          maxlength="8"
          pattern="[0-9]{8}"
          required
          #cep="ngModel"
        />
        <div *ngIf="cep.invalid && cep.touched" class="error-message">
          <small *ngIf="cep.errors?.['required']">CEP é obrigatório.</small>
          <small *ngIf="cep.errors?.['pattern']"
            >CEP deve conter 8 números.</small
          >
        </div>
      </mat-form-field>

      <!-- Campos adicionais para CPF -->
      <div *ngIf="formData.tipo === 'CPF'">
        <!-- RG -->
        <mat-form-field appearance="fill">
          <mat-label>RG</mat-label>
          <input
            matInput
            [(ngModel)]="formData.rg"
            name="rg"
            maxlength="9"
            pattern="[0-9]{1,9}"
          />
        </mat-form-field>

        <!-- Data de Nascimento -->
        <mat-form-field appearance="fill">
          <mat-label>Data de Nascimento</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="formData.dataNascimento"
            name="dataNascimento"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Botão -->
      <button
        mat-raised-button
        color="primary"
        (click)="salvar()"
        [disabled]="fornecedorForm.invalid"
      >
        {{ isEditMode ? "Salvar Alterações" : "Cadastrar" }}
      </button>
    </form>
  </div>

  <div *ngIf="fornecedores.length > 0 && showList" class="table-container">
    <mat-table [dataSource]="fornecedores" class="mat-elevation-z8">
      <!-- Tipo -->
      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
        <mat-cell *matCellDef="let fornecedor">{{ fornecedor.tipo }}</mat-cell>
      </ng-container>

      <!-- Identificador (CPF ou CNPJ) -->
      <ng-container matColumnDef="identificador">
        <mat-header-cell *matHeaderCellDef>CPF/CNPJ</mat-header-cell>
        <mat-cell *matCellDef="let fornecedor">{{
          fornecedor.identificador
        }}</mat-cell>
      </ng-container>

      <!-- Nome -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let fornecedor">{{ fornecedor.nome }}</mat-cell>
      </ng-container>

      <!-- E-mail -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let fornecedor">{{ fornecedor.email }}</mat-cell>
      </ng-container>

      <!-- CEP -->
      <ng-container matColumnDef="cep">
        <mat-header-cell *matHeaderCellDef>CEP</mat-header-cell>
        <mat-cell *matCellDef="let fornecedor">{{ fornecedor.cep }}</mat-cell>
      </ng-container>

      <!-- RG (apenas se for CPF) -->
      <ng-container matColumnDef="rg">
        <mat-header-cell *matHeaderCellDef>RG</mat-header-cell>
        <mat-cell *matCellDef="let fornecedor">
          {{ fornecedor.tipo === "CPF" ? fornecedor.rg : "N/A" }}
        </mat-cell>
      </ng-container>

      <!-- Data de Nascimento (apenas se for CPF) -->
      <ng-container matColumnDef="dataNascimento">
        <mat-header-cell *matHeaderCellDef>Data de Nascimento</mat-header-cell>
        <mat-cell *matCellDef="let fornecedor">
          {{
            fornecedor.tipo === "CPF"
              ? (fornecedor.dataNascimento | date : "dd/MM/yyyy")
              : "N/A"
          }}
        </mat-cell>
      </ng-container>

      <!-- Header and Rows -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
